.v-center {
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.ngduallist .left-container {
    height: 300px;
    overflow-y: auto;
}

.ngduallist .right-container {
    height: 300px;
    overflow-y: auto;
}